extends layout

block content
	.row
		.twelve.columns.text-center
			.panel
				h1 rPI Index
				h5.subheader 
					| Controls perifirals associated with PI
	.row
		.six.columns.centered
			.panel
				.row
					.six.columns.centered.text-center 
						a#blinkButton.button.alert Blink!
						hr
	script(type='text/javascript')
		$("#blinkButton").on('click', function(){
			$.get('/blink', function(){
				});
		});

